@{
    ViewData["Title"] = "Book Haven";
}

<br />
<div class="card border-light">
    <div class="card-header">A C# ASP.NET Core MVC Application</div>
    <div class="card-body">
        <h1 class="card-title">Book Haven</h1>
        <p class="card-text">The website for book insertion and display number is a web application built in C# using ASP .Net Core MVC and Entity Framework with a SQL Server database. 
            This application allows users to create, edit, view, and delete book entries, including their display numbers. The user interface is designed to be intuitive and easy to use, 
            with clear options for managing book entries. With the use of Entity Framework, the website provides a seamless integration between the application and the database, 
            ensuring efficient and reliable data management. Overall, this website is a useful tool for anyone looking to manage their book collection or inventory in a simple and 
            effective way.</p>
    </div>
</div>
